{% extends 'base.html' %}

{% block head %}
<title>Books</title>
{% endblock %}

{% block body %}
<div class="nav">
    <a class="home" href="/">Home</a>
    <a class="active" href="books">Books</a>
    <a href="authors">Authors</a></li>
    <a href="publishers">Publishers</a>
    <a href="customers">Customers</a>
    <a href="orders">Orders</a>
    <a href="order-details">Order Details</a>
</div>

<header>
    <h1 class="app-title">Books</h1>
</header>
<main class="main-content">
    <table>
        <thead>
            <tr>
                {% for key in books[0].keys() %}
                <th>{{ key }}</th>
                {% endfor %}
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                {% for key in book.keys() %}
                <td>{{ book[key] }}</td>
                {% endfor %}
                <td><button type="button">Update</button></td>
                <td><button type="button">Delete</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <h2>Add New Book</h2>
    <form>
        <label for="author_id">author_id:</label><br>
        <select name="author_id" id="author_id">
            {% for author in authors %}
                {% for key in author.keys() %}
                <option value="{{ author[key] }}">{{ author[key] }}</option>
                {% endfor %}
            {% endfor %}
        </select><br>

        <label for="publisher_id">publisher_id:</label><br>
        <select name="publisher_id" id="publisher_id">
            {% for publisher in publishers %}
                {% for key in publisher.keys() %}
                <option value="{{ publisher[key] }}">{{ publisher[key] }}</option>
                {% endfor %}
            {% endfor %}
        </select><br>

        <label for="title">title:</label><br>
        <input type="text" id="title" name="title"><br>
        <label for="year">year:</label><br>
        <input type="text" id="year" name="year"><br>
        <label for="cost">cost:</label><br>
        <input type="text" id="cost" name="cost"><br>
        <label for="quantity">quantity:</label><br>
        <input type="text" id="quantity" name="quantity"><br>
        <input type="submit" value="Add">
    </form>
    <h2>Search for Book</h2>
    <form>
        <label for="title">title:</label><br>
        <input type="text" id="title" name="title"><br>
        <label for="year">year:</label><br>
        <input type="text" id="year" name="year"><br>
        <label for="cost">cost:</label><br>
        <input type="text" id="cost" name="cost"><br>
        <input type="submit" value="search">
    </form>
</main>
<br>
<a href="/">Back to Home Page</a>
{% endblock %}
