{% extends 'base.html' %}

{% block head %}
<title>Customers</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1>Customers</h1>

    <h3>Create Entries</h3>
    <div class="form">
        <form action="" method="POST">
            <label for="customer_id">Customer ID:</label>
            <input type="text" name="customer_id" id="customer_id">

            <label for="first_name">First Name:</label>
            <input type="text" name="first_name" id="first_name">

            <label for="last_name">Last Name:</label>
            <input type="text" name="last_name" id="last_name">

            <label for="email">Email:</label>
            <input type="text" name="email" id="email">

            <label for="phone">Phone:</label>
            <input type="text" name="phone" id="phone">

            <label for="street">Street:</label>
            <input type="text" name="street" id="street">

            <label for="city">City:</label>
            <input type="text" name="city" id="city">

            <label for="zip">Zip:</label>
            <input type="text" name="zip" id="zip">

            <div class="center">
                <input class="button" type="submit" value="Create">
            </div>
        </form>
    </div>

    <h3>Filter Entries</h3>
    <div class="form">
        <form action="" method="GET">
            <label for="customer_id">Customer ID:</label>
            <input type="text" name="customer_id" id="customer_id">

            <label for="first_name">First Name:</label>
            <input type="text" name="first_name" id="first_name">

            <label for="last_name">Last Name:</label>
            <input type="text" name="last_name" id="last_name">

            <label for="email">Email:</label>
            <input type="text" name="email" id="email">

            <label for="phone">Phone:</label>
            <input type="text" name="phone" id="phone">

            <label for="street">Street:</label>
            <input type="text" name="street" id="street">

            <label for="city">City:</label>
            <input type="text" name="city" id="city">

            <label for="zip">Zip:</label>
            <input type="text" name="zip" id="zip">

            <div class="center">
                <input class="button" type="submit" value="Filter">
            </div>
        </form>
    </div>

    <table>
        <tr>
            <th>Customer ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Street</th>
            <th>City</th>
            <th>Zip</th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <a href="">Edit</a>
            </td>
            <td>
                <a href="">Delete</a>
            </td>
        </tr>
    </table>
</div>
{% endblock %}
