{% extends 'base.html' %}

{% block head %}
<title>Customers</title>
{% endblock %}

{% block body %}
<div class="nav">
    <a class="home" href="/">Home</a>
    <a href="books">Books</a>
    <a href="authors">Authors</a></li>
    <a href="publishers">Publishers</a>
    <a class="active" href="customers">Customers</a>
    <a href="orders">Orders</a>
    <a href="order-details">Order Details</a>
</div>

<header>
    <h1 class="app-title">Customers</h1>
</header>
<main class="main-content">
    <table>
        <tr>
          <th>customer_id</th>
          <th>first_name</th>
          <th>last_name</th>
          <th>email</th>
          <th>phone</th>
          <th>street</th>
          <th>city</th>
          <th>zip</th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <td>    </td>
          <td>    </td>
          <td>    </td>
          <td>    </td>
          <td>    </td>
          <td>    </td>
          <td>    </td>
          <td>    </td>
          <td><button type="button">Update</button></td>
          <td><button type="button">Delete</button></td>
        </tr>
    </table>
    
    <h2>Add New Customer</h2>
    <form>
        <label for="first_name">first_name:</label><br>
        <input type="text" id="first_name" name="first_name"><br>
        <label for="last_name">last_name:</label><br>
        <input type="text" id="last_name" name="last_name"><br>
        <label for="email">email:</label><br>
        <input type="text" id="email" name="email"><br>
        <label for="phone">phone:</label><br>
        <input type="text" id="phone" name="phone"><br>
        <label for="street">street:</label><br>
        <input type="text" id="street" name="street"><br>
        <label for="city">city:</label><br>
        <input type="text" id="city" name="city"><br>
        <label for="zip">zip:</label><br>
        <input type="text" id="zip" name="zip"><br>
        <input type="submit" value="Add">
    </form>
    <h2>Search for Customer</h2>
    <form>
        <label for="first_name">first_name:</label><br>
        <input type="text" id="first_name" name="first_name"><br>
        <label for="last_name">last_name:</label><br>
        <input type="text" id="last_name" name="last_name"><br>
        <label for="email">email:</label><br>
        <input type="text" id="email" name="email"><br>
        <label for="phone">phone:</label><br>
        <input type="text" id="phone" name="phone"><br>
        <input type="submit" value="search">
    </form>
</main>
<br>
<a href="/">Back to Home Page</a>
{% endblock %}
