{% extends 'base.html' %}

{% block head %}
<title>Fantastic Books</title>
{% endblock %}

{% block body %}
<div class="nav">
    <a class="active" href="/">Home</a>
    <a href="books">Books</a>
    <a href="authors">Authors</a></li>
    <a href="publishers">Publishers</a>
    <a href="customers">Customers</a>
    <a href="orders">Orders</a>
    <a href="order-details">Order Details</a>
</div>

<header>
    <h1 class="app-title">Fantastic Books</h1>
</header>
<main class="main-content">
    <h3>
        Welcome to Fantastic Books! Check out the top navigation bar to explore the site.
    </h3>
</main>
{% endblock %}
