{% extends 'base.html' %}

{% block head %}
<title>Order Details</title>
{% endblock %}

{% block body %}
<div class="nav">
    <a class="home" href="/">Home</a>
    <a href="books">Books</a>
    <a href="authors">Authors</a></li>
    <a href="publishers">Publishers</a>
    <a href="customers">Customers</a>
    <a href="orders">Orders</a>
    <a class="active" href="order-details">Order Details</a>
</div>

<header>
    <h1 class="app-title">Order_details</h1>
</header>
<main class="main-content">
    <table>
        <thead>
            <tr>
                {% for key in order_details[0].keys() %}
                <th>{{ key }}</th>
                {% endfor %}
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for order_detail in order_details %}
            <tr>
                {% for key in order_detail.keys() %}
                <td>{{ order_detail[key] }}</td>
                {% endfor %}
                <td><button type="button">Update</button></td>
                <td><button type="button">Delete</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <h2>Add New Order Detail</h2>
    <form>
        <label for="order_id">order_id:</label><br>
        <select name="order_id" id="order_id">
            {% for order in orders %}
                {% for key in order.keys() %}
                <option value="{{ order[key] }}">{{ order[key] }}</option>
                {% endfor %}
            {% endfor %}
        </select><br>

        <label for="book_id">book_id:</label><br>
        <select name="book_id" id="book_id">
            {% for book in books %}
                {% for key in book.keys() %}
                <option value="{{ book[key] }}">{{ book[key] }}</option>
                {% endfor %}
            {% endfor %}
        </select><br>

        <label for="cost">cost:</label><br>
        <input type="text" id="cost" name="cost"><br>
        <label for="quantity">quantity:</label><br>
        <input type="text" id="quantity" name="quantity"><br>
        <input type="submit" value="Add">
    </form>
    <h2>Search for Order Detail</h2>
    <form>
        <label for="cost">cost:</label><br>
        <input type="text" id="cost" name="cost"><br>
        <label for="quantity">quantity:</label><br>
        <input type="text" id="quantity" name="quantity"><br>
        <input type="submit" value="search">
    </form>
</main>
<br>
<a href="/">Back to Home Page</a>
{% endblock %}
