{% extends 'base.html' %}

{% block head %}
<title>Orders</title>
{% endblock %}

{% block body %}
<div class="nav">
    <a class="home" href="/">Home</a>
    <a href="books">Books</a>
    <a href="authors">Authors</a></li>
    <a href="publishers">Publishers</a>
    <a href="customers">Customers</a>
    <a class="active" href="orders">Orders</a>
    <a href="order-details">Order Details</a>
</div>

<header>
    <h1 class="app-title">Orders</h1>
</header>
<main class="main-content">
    <table>
        <tr>
          <th>order_id</th>
          <th>customer_id</th>
          <th>date</th>
          <th>total_cost</th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <td>    </td>
          <td>    </td>
          <td>    </td>
          <td>    </td>
          <td><button type="button">Update</button></td>
          <td><button type="button">Delete</button></td>
        </tr>
    </table>
    
    <h2>Add New Order</h2>
    <form>
        <label for="customer_id">customer_id:</label><br>
        <input type="text" id="customer_id" name="customer_id"><br>
        <label for="date">date:</label><br>
        <input type="date" id="date" name="date"><br>
        <label for="total_cost">total_cost:</label><br>
        <input type="text" id="total_cost" name="total_cost"><br>
        <input type="submit" value="Add">
    </form>
    <h2>Search for Order</h2>
    <form>
        <label for="date">date:</label><br>
        <input type="date" id="date" name="date"><br>
        <label for="total_cost">total_cost:</label><br>
        <input type="text" id="total_cost" name="total_cost"><br>
        <input type="submit" value="search">
    </form>
</main>
<br>
<a href="/">Back to Home Page</a>
{% endblock %}
