{% extends 'base.html' %}

{% block head %}
<title>Update Books</title>
{% endblock %}

{% block body %}
<div class="nav">
    <a class="home" href="/">Home</a>
    <a class="active" href="/books">Books</a>
    <a href="/authors">Authors</a></li>
    <a href="/publishers">Publishers</a>
    <a href="/customers">Customers</a>
    <a href="/orders">Orders</a>
    <a href="/order-details">Order Details</a>
</div>

<header>
    <h1 class="app-title">Update Books</h1>
</header>
<main class="main-content">
    <h2>Update Book</h2>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class=flashes>
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <form id="update_book" action="/update-books/{{ books[0]['book_id'] }}" method="POST">
        <label for="author_id">author_name:</label><br>
        <select name="author_id" id="author_id">
            {% for author in authors %}
                {% if author.author_name == books[0].author_name %}
                    <option selected value="{{ author.author_id }}">{{ author.author_name }}</option>
                {% else %}
                    <option value="{{ author.author_id }}">{{ author.author_name }}</option>
                {% endif %}
            {% endfor %}
        </select><br>

        <label for="publisher_id">publisher_name:</label><br>
        <select name="publisher_id" id="publisher_id">
            <option value="0">NULL</option>
            {% for publisher in publishers %}
                {% if publisher.publisher_name == books[0].publisher_name %}
                    <option selected value="{{ publisher.publisher_id }}">{{ publisher.publisher_name }}</option>
                {% else %}
                    <option value="{{ publisher.publisher_id }}">{{ publisher.publisher_name }}</option>
                {% endif %}
            {% endfor %}
        </select><br>

        <label for="title">title:</label><br>
        <input type="text" id="title" name="title" value="{{ books[0]['title'] }}" required><br>
        <label for="year">year:</label><br>
        <input type="number" min="0" step="1" id="year" name="year" value="{{ books[0]['year'] }}"><br>
        <label for="cost">cost:</label><br>
        <input type="number" min="0.00" step="0.01" id="cost" name="cost" value="{{ books[0]['cost'] }}"><br>
        <label for="quantity">quantity:</label><br>
        <input type="number" min="0" step="1" id="quantity" name="quantity" value="{{ books[0]['quantity'] }}" required><br>
        <input type="submit" value="Update" name="update_book">
    </form>

    <table>
        <thead>
            <tr>
                {% for key in books[0].keys() %}
                <th>{{ key }}</th>
                {% endfor %}
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                {% for key in book.keys() %}
                <td>{{ book[key] }}</td>
                {% endfor %}
                <td>
                    <form action="/delete-books/{{ book['book_id'] }}">
                        <input type="submit" value="Delete" />
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
<br>
<a href="#">Back to Top</a>
{% endblock %}
