{% extends 'base.html' %}

{% block head %}
<title>Update Orders</title>
{% endblock %}

{% block body %}
<div class="nav">
    <a class="home" href="/">Home</a>
    <a href="/books">Books</a>
    <a href="/authors">Authors</a></li>
    <a href="/publishers">Publishers</a>
    <a href="/customers">Customers</a>
    <a class="active" href="/orders">Orders</a>
    <a href="/order-details">Order Details</a>
</div>

<header>
    <h1 class="app-title">Update Orders</h1>
</header>
<main class="main-content">
    <h2>Update Order</h2>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class=flashes>
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <form id="update_order" action="/update-orders/{{ orders[0]['order_id'] }}" method="POST">
        <label for="customer_id">customer_id:</label><br>
        <select name="customer_id" id="customer_id">
            {% for customer in customers %}
                {% if customer.email == orders[0].email %}
                    <option selected value="{{ customer.customer_id }}">{{ customer.customer_id }}</option>
                {% else %}
                    <option value="{{ customer.customer_id }}">{{ customer.customer_id }}</option>
                {% endif %}
            {% endfor %}
        </select><br>

        <label for="date">date:</label><br>
        <input type="date" id="date" name="date" value="{{ orders[0]['date'] }}" required><br>
        <label for="total_cost">total_cost:</label><br>
        <input type="number" min="0.00" step="0.01" id="total_cost" name="total_cost" value="{{ orders[0]['total_cost'] }}" required><br>
        <input type="submit" value="Update" name="update_order">
    </form>

    <table>
        <thead>
            <tr>
                {% for key in orders[0].keys() %}
                <th>{{ key }}</th>
                {% endfor %}
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                {% for key in order.keys() %}
                <td>{{ order[key] }}</td>
                {% endfor %}
                <td>
                    <form action="/delete-orders/{{ order['order_id'] }}">
                        <input type="submit" value="Delete" />
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
<br>
<a href="#">Back to Top</a>
{% endblock %}
