{% extends 'base.html' %}

{% block head %}
<title>Update Order Details</title>
{% endblock %}

{% block body %}
<div class="nav">
    <a class="home" href="/">Home</a>
    <a href="/books">Books</a>
    <a href="/authors">Authors</a></li>
    <a href="/publishers">Publishers</a>
    <a href="/customers">Customers</a>
    <a href="/orders">Orders</a>
    <a class="active" href="/order-details">Order Details</a>
</div>

<header>
    <h1 class="app-title">Update Order_details</h1>
</header>
<main class="main-content">
    <h2>Update Order Detail</h2>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class=flashes>
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <form id="update_order_detail" action="/update-order-details/{{ order_details[0]['order_details_id'] }}" method="POST">
        <label for="order_id">order_id:</label><br>
        <select name="order_id" id="order_id">
            {% for order in orders %}
                {% if order.order_id == order_details[0].order_id %}
                    <option selected value="{{ order.order_id }}">{{ order.order_id }}</option>
                {% else %}
                    <option value="{{ order.order_id }}">{{ order.order_id }}</option>
                {% endif %}
            {% endfor %}
        </select><br>

        <label for="book_id">book_id:</label><br>
        <select name="book_id" id="book_id">
            {% for book in books %}
                {% if book.title == order_details[0].title and book.author_name == order_details[0].author_name and book.publisher_name == order_details[0].publisher_name %}
                    <option selected value="{{ book.book_id }}">{{ book.book_id }}</option>
                {% else %}
                    <option value="{{ book.book_id }}">{{ book.book_id }}</option>
                {% endif %}
            {% endfor %}
        </select><br>

        <label for="cost">cost:</label><br>
        <input type="number" min="0.00" step="0.01" id="cost" name="cost" value="{{ order_details[0]['cost'] }}" required><br>
        <label for="quantity">quantity:</label><br>
        <input type="number" min="1" step="1" id="quantity" name="quantity" value="{{ order_details[0]['quantity'] }}" required><br>
        <input type="submit" value="Update" name="update_order_detail">
    </form>

    <table>
        <thead>
            <tr>
                {% for key in order_details[0].keys() %}
                <th>{{ key }}</th>
                {% endfor %}
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for order_detail in order_details %}
            <tr>
                {% for key in order_detail.keys() %}
                <td>{{ order_detail[key] }}</td>
                {% endfor %}
                <td>
                    <form action="/delete-order-details/{{ order_detail['order_details_id'] }}">
                        <input type="submit" value="Delete" />
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
<br>
<a href="#">Back to Top</a>
{% endblock %}
