{% extends 'base.html' %}

{% block head %}
<title>Update Publishers</title>
{% endblock %}

{% block body %}
<div class="nav">
    <a class="home" href="/">Home</a>
    <a href="/books">Books</a>
    <a href="/authors">Authors</a></li>
    <a class="active" href="/publishers">Publishers</a>
    <a href="/customers">Customers</a>
    <a href="/orders">Orders</a>
    <a href="/order-details">Order Details</a>
</div>

<header>
    <h1 class="app-title">Update Publishers</h1>
</header>
<main class="main-content">
    <h2>Update Publisher</h2>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class=flashes>
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <form id="update_publishers" action="/update-publishers/{{ publishers[0]['publisher_id'] }}" method="POST">
        <label for="publisher_name">publisher_name:</label><br>
        <input type="text" id="publisher_name" name="publisher_name" value="{{ publishers[0]['publisher_name'] }}" required><br>
        <input type="submit" value="Update" name="update_publisher">
    </form>

    <table>
        <thead>
            <tr>
                {% for key in publishers[0].keys() %}
                <th>{{ key }}</th>
                {% endfor %}
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for publisher in publishers %}
            <tr>
                {% for key in publisher.keys() %}
                <td>{{ publisher[key] }}</td>
                {% endfor %}
                <td>
                    <form action="/delete-publishers/{{ publisher['publisher_id'] }}">
                        <input type="submit" value="Delete" />
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
<br>
<a href="#">Back to Top</a>
{% endblock %}
