{% extends 'base.html' %}

{% block head %}
<title>Update Customers</title>
{% endblock %}

{% block body %}
<div class="nav">
    <a class="home" href="/">Home</a>
    <a href="/books">Books</a>
    <a href="/authors">Authors</a></li>
    <a href="/publishers">Publishers</a>
    <a class="active" href="/customers">Customers</a>
    <a href="/orders">Orders</a>
    <a href="/order-details">Order Details</a>
</div>

<header>
    <h1 class="app-title">Update Customers</h1>
</header>
<main class="main-content">
    <h2>Update Customer</h2>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class=flashes>
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <form id="update_customer" action="/update-customers/{{ customers[0]['customer_id'] }}" method="POST">
        <label for="first_name">first_name:</label><br>
        <input type="text" id="first_name" name="first_name" value="{{ customers[0]['first_name'] }}" required><br>
        <label for="last_name">last_name:</label><br>
        <input type="text" id="last_name" name="last_name" value="{{ customers[0]['last_name'] }}" required><br>
        <label for="email">email:</label><br>
        <input type="email" id="email" name="email" value="{{ customers[0]['email'] }}" required><br>
        <label for="phone">phone:</label><br>
        {% if customers[0]['phone'] is none %}
            <input type="tel" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"><br>
        {% else %}
            <input type="tel" id="phone" name="phone" value="{{ customers[0]['phone'] }}" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"><br>
        {% endif %}
        <label for="street">street:</label><br>
        <input type="text" id="street" name="street" value="{{ customers[0]['street'] }}" required><br>
        <label for="city">city:</label><br>
        <input type="text" id="city" name="city" value="{{ customers[0]['city'] }}" required><br>
        <label for="zip">zip:</label><br>
        <input type="number" min="0" step="1" id="zip" name="zip" value="{{ customers[0]['zip'] }}" required><br>
        <input type="submit" value="Update" name="update_customer">
    </form>

    <table>
        <thead>
            <tr>
                {% for key in customers[0].keys() %}
                <th>{{ key }}</th>
                {% endfor %}
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
            <tr>
                {% for key in customer.keys() %}
                <td>{{ customer[key] }}</td>
                {% endfor %}
                <td>
                    <form action="/delete-customers/{{ customer['customer_id'] }}">
                        <input type="submit" value="Delete" />
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
<br>
<a href="#">Back to Top</a>
{% endblock %}
